.card{
    width: 160px;
    height: 300px;
    float: left;
    margin: 0px 50px 30px 50px;
}

.card img{
    height: 150px;
    width: 140px;
}

.card-footer{
    padding: 5px;
}

.star {
    position: relative;
    display: inline-block;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }

  #filter{
    margin-top: 30px;
    width: 150px;
  }