<div id="filter">
    <select id="inputState" class="form-control" (change)="viewFilterType($event)">
        <option selected>Filter</option>
        <option value="high to low">price : high to loww</option>
        <option value="low to high">price : low to high</option>
        <option value="rating">rating</option>
      </select>
</div>
<div class="container-fluid" style="margin-top: 5%;">
       
<div *ngFor="let x of Products | filter : filterTerm">
    <div class="card">
        <div class="card-body">
            <img class="productImage" src={{x.image}} alt="image">
        </div>
        <div class="card-footer">
                <p>{{x.title}}</p>
                <p>{{x.price | currency}}</p>
                <div>
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                    </ng-template>
                    <ngb-rating [(rate)]="x.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                </div>
            <div>
            <app-cart-button [title]="x" (displayNotification)="displayNotification($event)" ></app-cart-button>
        </div>
    </div>
</div>
</div>
</div>



<div *ngIf="NotifyAddedToCart">
    <app-cart-notify></app-cart-notify>
</div>

